* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    text-align: center;
    padding-top: 15%;
}

.current {
    margin-top: 30px;
}

h1 {
    font-size: 80px !important;
}