* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url(images/bg-image.jpg);
    background-size: cover;
    background-position: top center;
}

.app-wrap {
    text-align: center;
    padding-top: 50px;
}

.title {
    font-size: 60px;
    font-weight: 700;
}

.search-box {
    width: 100%;
    max-width: 280px;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 10px 15px;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

main{
    padding: 25px 25px 50px;
}

.location .city{
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #fff;
    font-size: 16px;
}
.current .temp{
    color: #fff;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
}
.current .temp span{
    font-weight: 500;
}
.current .weather {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}
.current .hi-low {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}